.cart_item {
  display: inline-flex;
  margin: 20px 10px;
}

.cart_item .right_block {
  padding: 0 20px;
}

.cart_item_actions {
  margin-top: 20px;
}

.action_icons {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.action_icons:hover {
  cursor: pointer;
}

.image {
  height: 110px;
  width: 110px;
  border-radius: 4px;
  background: #ccc;
}

.name {
  font-size: 25px;
}

.price {
  color: #777;
}

.quantity {
  color: #777;
}
